* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(50, 57, 65);
}
/* base style */

html {
    background-color: rgb(255, 183, 101);
}

div {
    padding: 8px;
    margin-block: 2px;
}

body {
    background-color: antiquewhite;
    box-sizing: border-box;
    width: 600px;
    margin: auto;
    padding: 10px;
    border: 4px double rgb(102, 91, 77);
}

h1 {
    color: rgb(58, 69, 90);
    text-align: center;
}

h2 {
    color: rgb(58, 69, 90);
}

a:hover{
    color:rgb(174, 0, 255);
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border: 2px solid rgb(102, 91, 77);
}