/* base style */

html {
    background-color: rgb(255, 183, 101);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 600px;
    background-color: bisque;
    margin: auto;
    padding: 0 20px 20px 20px;
    border: 4px double rgb(102, 91, 77);
}

h1 {
    color: rgb(58, 69, 90);
    text-align: center;
}

a:hover{
    color:rgb(174, 0, 255);
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border: 2px solid rgb(102, 91, 77);
}